#border
{
   border:100px solid blue;
   padding: 40px;
  
}
.body
{
    background-color: rgb(10, 10, 73);
}
.background
{
    margin-top: 50px;
    
}

.user{
    border: 1px solid rgb(5, 5, 65);
    background-color: aliceblue;
    text-align: center;
    margin-top:50px;
    padding: 20px;
    margin-bottom: 200px;
}
