.container1
{
    background-color: #1443b9;
    width: 600px;
    height: 630px;
    margin-left: 475PX;
    float: left;
    border-radius: 5px;
}

.container
{
    margin-top: 45px;
    width:500px ;
    padding: 26px;
    background-color: whitesmoke;
    border-radius: 3px;
    height: auto;
}

.txt
{
    margin-top: 40px;
    text-align: center;
    color:white;
}

.hovertext
{
    cursor: pointer;
}

button
{
margin-left: 180px ;
}